<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <!--<link rel="stylesheet" href="../../../static/frame/elementui/elementui.css" />-->
    <!--引入jquery-->
    <script type="text/javascript" src="/frame/jquery/jquery-2.1.4.min.js"></script>
    <!--引入vue.js-->
    <!--<script src="https://unpkg.com/vue/dist/vue.js"></script>-->
    <script  type="text/javascript" src="/frame/vue/vue.min.js"></script>
    <!-- 引入组件库 -->
    <script type="text/javascript" src="/frame/elementui/elementui.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
    <link rel="stylesheet" href="/todoList/index/css/index.css"/>
</head>
<body>
<div id="app" v-cloak>
    <el-container>
        <el-header style="height:60px;">
            <div>
                <img id="logo" src="/todoList/login/image/logo.png">
            </div>
        </el-header>
        <el-container class="containerBottom">
            <div id="body" v-cloak>
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <el-form  :inline="true" :model="tableSearchModel" ref="tableSearchModel">
                            <el-form-item label="完成状态">
                                <el-select v-model="tableSearchModel.finishStatus" placeholder="请选择" size="mini" @change="changeFinishStatus()" style="width:85px">
                                    <el-option
                                            v-for="item in options"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value"
                                    >
                                    </el-option>
                                </el-select>　　
                            </el-form-item>
                            <el-form-item>
                                <!--开始时间和结束时间(截止时间)-->
                                <el-date-picker
                                        v-model="tableSearchModel.dateRange"
                                        type="daterange"
                                        range-separator="至"
                                        start-placeholder="开始日期"
                                        end-placeholder="结束日期" style="width:300px;height:35px;margin-left:50px"
                                        @change="changeDataRange">
                                </el-date-picker>
                            </el-form-item>

                        <!--<el-button type="primary" icon="el-icon-search" size="small" style="margin-left:30px">搜索</el-button>-->
                        </el-form>
                    </div>
                    <div v-for="o in 1" :key="o" class="text item">
                        <el-tabs v-model="priorityStatus" @tab-click="changePriority">
                            <el-tab-pane label="全部事件" name="0">
                                <div @click="addItem" style="display:block;">
                                    <el-tag  type="danger">
                                        全部
                                        <i class="el-icon-plus" id="add"></i>
                                    </el-tag>
                                </div>
                                <el-table
                                        :data="tableData"
                                        style="width: 100%"
                                        :show-header="false">
                                    <el-table-column
                                            label="选择"
                                            width="30">

                                        <template slot-scope="scope">
                                            <el-checkbox id="checkbox" :checked=scope.row.isFinished @change="toggleFinish(scope)"></el-checkbox>
                                        </template>
                                    </el-table-column>
                                    <el-table-column
                                            label="任务"
                                            width="200">
                                        <template slot-scope="scope">
                                            <p :class="{finished:scope.row.isFinished}">任务: {{ scope.row.name }}</p>
                                        </template>
                                    </el-table-column>
                                    <el-table-column
                                            label="结束时间"
                                            width="200">
                                        <template slot-scope="scope">
                                            <i class="el-icon-time"></i>
                                            <span style="margin-left: 10px">{{ scope.row.date }}</span>
                                        </template>
                                    </el-table-column>
                                    <el-table-column label="操作">
                                        <template slot-scope="scope">
                                            <el-button
                                                    size="mini"
                                                    type="danger"
                                                    @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                                            <el-button
                                                    size="mini"
                                                    type="danger"
                                                    @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                                <div class="block">
                                    <span class="demonstration"></span>
                                    <el-pagination
                                            @size-change="handleSizeChange"
                                            @current-change="handleCurrentChange"
                                            :current-page="currentPage"
                                            :pageSizes="[5, 10, 15, 20]"
                                            :pageSize="pageSize"
                                            layout="total, sizes, prev, pager, next, jumper"
                                            :total="total">
                                    </el-pagination>
                                </div>


                            </el-tab-pane>
                            <el-tab-pane label="重要且紧急" name="1">
                                <div @click="addItem" style="display:block;">
                                    <el-tag  type="danger">
                                        重要且紧急
                                        <i class="el-icon-plus" id="add"></i>
                                    </el-tag>
                                </div>
                                <el-table
                                        :data="tableData"
                                        style="width: 100%"
                                        :show-header="false">
                                    <el-table-column
                                            label="选择"
                                            width="30">

                                        <template slot-scope="scope">
                                            <el-checkbox id="checkbox" :checked=scope.row.isFinished @change="toggleFinish(scope)"></el-checkbox>
                                        </template>
                                    </el-table-column>
                                    <el-table-column
                                            label="任务"
                                            width="200">
                                        <template slot-scope="scope">
                                            <p :class="{finished:scope.row.isFinished}">任务: {{ scope.row.name }}</p>
                                        </template>
                                    </el-table-column>
                                    <el-table-column
                                            label="结束时间"
                                            width="200">
                                        <template slot-scope="scope">
                                            <i class="el-icon-time"></i>
                                            <span style="margin-left: 10px">{{ scope.row.date }}</span>
                                        </template>
                                    </el-table-column>
                                    <el-table-column label="操作">
                                        <template slot-scope="scope">
                                            <el-button
                                                    size="mini"
                                                    type="danger"
                                                    @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                                            <el-button
                                                    size="mini"
                                                    type="danger"
                                                    @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                                <div class="block">
                                    <span class="demonstration"></span>
                                    <el-pagination
                                            @size-change="handleSizeChange"
                                            @current-change="handleCurrentChange"
                                            :current-page="currentPage"
                                            :pageSizes="[5, 10, 15, 20]"
                                            :pageSize="pageSize"
                                            layout="total, sizes, prev, pager, next, jumper"
                                            :total="total">
                                    </el-pagination>
                                </div>
                            </el-tab-pane>
                            <el-tab-pane label="重要但不紧急" name="2">
                                <div @click="addItem" style="display:block;">
                                    <el-tag  type="danger">
                                        重要但不紧急
                                        <i class="el-icon-plus" id="add"></i>
                                    </el-tag>
                                </div>
                                <el-table
                                        :data="tableData"
                                        style="width: 100%"
                                        :show-header="false">
                                    <el-table-column
                                            label="选择"
                                            width="30">

                                        <template slot-scope="scope">
                                            <el-checkbox id="checkbox" :checked=scope.row.isFinished @change="toggleFinish(scope)"></el-checkbox>
                                        </template>
                                    </el-table-column>
                                    <el-table-column
                                            label="任务"
                                            width="200">
                                        <template slot-scope="scope">
                                            <p :class="{finished:scope.row.isFinished}">任务: {{ scope.row.name }}</p>
                                        </template>
                                    </el-table-column>
                                    <el-table-column
                                            label="结束时间"
                                            width="200">
                                        <template slot-scope="scope">
                                            <i class="el-icon-time"></i>
                                            <span style="margin-left: 10px">{{ scope.row.date }}</span>
                                        </template>
                                    </el-table-column>
                                    <el-table-column label="操作">
                                        <template slot-scope="scope">
                                            <el-button
                                                    size="mini"
                                                    type="danger"
                                                    @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                                            <el-button
                                                    size="mini"
                                                    type="danger"
                                                    @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                                <div class="block">
                                    <span class="demonstration"></span>
                                    <el-pagination
                                            @size-change="handleSizeChange"
                                            @current-change="handleCurrentChange"
                                            :current-page="currentPage"
                                            :pageSizes="[5, 10, 15, 20]"
                                            :pageSize="pageSize"
                                            layout="total, sizes, prev, pager, next, jumper"
                                            :total="total">
                                    </el-pagination>
                                </div>
                            </el-tab-pane>
                            <el-tab-pane label="不重要但紧急" name="3">
                                <div @click="addItem" style="display:block;">
                                    <el-tag  type="danger">
                                        不重要但紧急
                                        <i class="el-icon-plus" id="add"></i>
                                    </el-tag>
                                </div>
                                <el-table
                                        :data="tableData"
                                        style="width: 100%"
                                        :show-header="false">
                                    <el-table-column
                                            label="选择"
                                            width="30">

                                        <template slot-scope="scope">
                                            <el-checkbox id="checkbox" :checked=scope.row.isFinished @change="toggleFinish(scope)"></el-checkbox>
                                        </template>
                                    </el-table-column>
                                    <el-table-column
                                            label="任务"
                                            width="200">
                                        <template slot-scope="scope">
                                            <p :class="{finished:scope.row.isFinished}">任务: {{ scope.row.name }}</p>
                                        </template>
                                    </el-table-column>
                                    <el-table-column
                                            label="结束时间"
                                            width="200">
                                        <template slot-scope="scope">
                                            <i class="el-icon-time"></i>
                                            <span style="margin-left: 10px">{{ scope.row.date }}</span>
                                        </template>
                                    </el-table-column>
                                    <el-table-column label="操作">
                                        <template slot-scope="scope">
                                            <el-button
                                                    size="mini"
                                                    type="danger"
                                                    @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                                            <el-button
                                                    size="mini"
                                                    type="danger"
                                                    @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                                <div class="block">
                                    <span class="demonstration"></span>
                                    <el-pagination
                                            @size-change="handleSizeChange"
                                            @current-change="handleCurrentChange"
                                            :current-page="currentPage"
                                            :pageSizes="[5, 10, 15, 20]"
                                            :pageSize="pageSize"
                                            layout="total, sizes, prev, pager, next, jumper"
                                            :total="total">
                                    </el-pagination>
                                </div>
                            </el-tab-pane>
                            <el-tab-pane label="不重要也不紧急" name="4">
                                <div @click="addItem" style="display:block;">
                                    <el-tag  type="danger">
                                        不重要也不紧急
                                        <i class="el-icon-plus" id="add"></i>
                                    </el-tag>
                                </div>
                                <el-table
                                        :data="tableData"
                                        style="width: 100%"
                                        :show-header="false">
                                    <el-table-column
                                            label="选择"
                                            width="30">

                                        <template slot-scope="scope">
                                            <el-checkbox id="checkbox" :checked=scope.row.isFinished @change="toggleFinish(scope)"></el-checkbox>
                                        </template>
                                    </el-table-column>
                                    <el-table-column
                                            label="任务"
                                            width="200">
                                        <template slot-scope="scope">
                                            <p :class="{finished:scope.row.isFinished}">任务: {{ scope.row.name }}</p>
                                        </template>
                                    </el-table-column>
                                    <el-table-column
                                            label="结束时间"
                                            width="200">
                                        <template slot-scope="scope">
                                            <i class="el-icon-time"></i>
                                            <span style="margin-left: 10px">{{ scope.row.date }}</span>
                                        </template>
                                    </el-table-column>
                                    <el-table-column label="操作">
                                        <template slot-scope="scope">
                                            <el-button
                                                    size="mini"
                                                    type="danger"
                                                    @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                                            <el-button
                                                    size="mini"
                                                    type="danger"
                                                    @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                                <div class="block">
                                    <span class="demonstration"></span>
                                    <el-pagination
                                            @size-change="handleSizeChange"
                                            @current-change="handleCurrentChange"
                                            :current-page="currentPage"
                                            :pageSizes="[5, 10, 15, 20]"
                                            :pageSize="pageSize"
                                            layout="total, sizes, prev, pager, next, jumper"
                                            :total="total">
                                    </el-pagination>
                                </div>
                            </el-tab-pane>
                        </el-tabs>
                    </div>
                </el-card>
                <!--新增待办事项-->
                <el-dialog title="新增待办事项" :visible.sync="dialogSaveVisible">
                    <el-form :model="saveForm">
                        <el-form-item label="事项名称" :label-width="100">
                            <el-input
                                    v-model="saveForm.scheduleName"
                                    type="textarea"
                                    clearable
                                    auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="优先级" :label-width="100">
                            <el-select v-model="saveForm.priority" placeholder="请选择优先级" size="17">
                                <el-option
                                        v-for="item in priorityList"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="截止日期" :label-width="100">
                            <el-date-picker
                                    v-model="saveForm.cutoff"
                                    type="datetime"
                                    format="yyyy-MM-dd HH:mm:ss"
                                    placeholder="选择日期时间">
                            </el-date-picker>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="resetSaveForm">重置</el-button>
                        <el-button type="primary" @click="addForm">确 定</el-button>
                    </div>
                </el-dialog>
                <!--修改待办事项-->
                <el-dialog title="修改待办事项" :visible.sync="dialogEditVisible">
                    <el-form :model="editForm">
                        <el-form-item label="事项名称" :label-width="100">
                            <el-input
                                    v-model="editForm.scheduleName"
                                    type="textarea"
                                    clearable
                                    auto-complete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="优先级" :label-width="100">
                            <el-select v-model="editForm.priorityStatus" placeholder="请选择优先级" size="17">
                                <el-option
                                        v-for="item in priorityList"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="完成状态" :label-width="100">
                            <el-select v-model="editForm.isFinished" placeholder="完成状态" size="17">
                                <el-option
                                        v-for="item in finishStatus"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="截止日期" :label-width="100">
                            <el-date-picker
                                    v-model="editForm.cutoff"
                                    type="datetime"
                                    format="yyyy-MM-dd HH:mm:ss"
                                    placeholder="选择日期时间"
                                    >
                            </el-date-picker>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="resetEditForm">重置</el-button>
                        <el-button type="primary" @click="edit">确 定</el-button>
                    </div>
                </el-dialog>
            </div>

        </el-container>

    </el-container>
</div>

</body>
<script type="text/javascript" src="/todoList/index/js/index.js"></script>

</html>
